extends layout.pug

block content
  div
    ul
      each wishlist in wishlistsByUser
        li= wishlist.name
  div
    h1 #{wishlist.name}
    a(href="/items/new") Add an item
    div
      if (items)
        each item in items
          div
            input(type="checkbox", name="purchased" value="purchased")
            span
              a(href=`/items/${item.id}`) #{item.name}
            span #{item.price}
