extends layout.pug

block content
  div.content-container
    div.left-nav-bar
      ul
        each wishlist in wishlistsByUser
          li= wishlist.name
    div.middle-section
      h1 #{wishlist.name}
      h3 By #{wishlist.User.username}
      if (authorized)
        a(href="/items/new") Add an item
        a(href=`/wishlists/${wishlist.id}/edit`) Edit Wishlist
      div
        if (items)
          each item in items
            div
              if (authorized)
                input(type="checkbox", name="purchased" value="purchased")
              span
                a(href=`/items/${item.id}`) #{item.name}
              span #{item.price}
      div
        if comments
            ul
                each comment in comments
                    li
                        p #{comment.User.username}
                        p #{comment.content}
                        p #{comment.createdAt}
//- block wishlistContent
