extends layout.pug

block content
  h1= `${item.name}`
    ul
      li Wishlist: #{item.Wishlist.name}
      li Price: $#{item.price}
      li Category: #{item.Category.name}
      if (item.link)
        a(href=`${item.link}`) #{item.link}
      if (item.purchased)
        li Purchased
          i(class="fas fa-check-square")
  if (authorized)
    a(href=`/wishlists/${wishlistId}/items/${item.id}/edit`) Edit item
    br
    a(href=`/wishlists/${wishlistId}/items/${item.id}/delete`) Delete item

  br
  a(href=`/wishlists/${wishlistId}`) Back to Wishlist
