extends wishlist.pug

block wishlistContent
  h1= `${item.name}`
    ul
      li Price: $#{item.price}
      li Category: #{item.Category.name}
      if (item.link)
        a(href=`${item.link}`) #{item.link}
      if (item.purchased)
        li Purchased
          i(class="fas fa-check-square")
  if (authorized)
    a(href=`/wishlists/${wishlistId}/items/${item.id}/edit`)
      i(class="far fa-edit")
    a(href=`/wishlists/${wishlistId}/items/${item.id}/delete`)
      i(class="far fa-trash-alt")
