extends layout.pug

block content
  //- script(src="../public/javascripts/index.js")
  link(rel="stylesheet", href='/stylesheets/wishlist.css')
  div.content-container
    div.left-nav-bar
      span My Wishlists
      span
        a(href="/wishlists/new")
          i(class="far fa-plus-square")
      ul
        each wishlist in wishlistsByUser
          li.user-wishlists
            a(href=`/wishlists/${wishlist.id}` class="anchor") #{wishlist.name}
    div.middle-section
        h1.update-title Public Wishlists
        div.wishlist-info
          each wishlist in publicWishlists
            h1
                a(href=`/wishlists/${wishlist.id}` class="anchor") #{wishlist.name}
            h2.user-name By #{wishlist.User.username}
                if userId == `${wishlist.userId}`
                    div.wishlist-button
                        a(href=`/wishlists/${wishlist.id}/edit`) Edit Wishlist
                        a(href=`/wishlists/${wishlist.id}/items/new`) Add an item
