extends layout.pug

block content
  link(rel="stylesheet", href='/stylesheets/wishlist.css')
  div.content-container
    div.left-nav-bar
      ul
        each wishlist in wishlistsByUser
          li= wishlist.name
    div.middle-section
      h1 #{wishlist.name}
      h3 By #{wishlist.User.username}
      if (wishlist.description)
        p #{wishlist.description}
      if (authorized)
        a(href="/items/new") Add an item
        a(href=`/wishlists/${wishlist.id}/edit`) Edit Wishlist
      div
        if (items)
          each item in items
            div
              if (authorized)
                input(type="checkbox", name="purchased" value="purchased")
              span
                a(href=`/items/${item.id}`) #{item.name}
              span #{item.price}
//- block wishlistContent
