extends layout.pug

block content
  script(src="../public/javascripts/index.js")
  link(rel="stylesheet", href='/stylesheets/wishlist.css')
  div.content-container
    div.left-nav-bar
      span My Wishlists
      span
        a(href="/wishlists/new")
          i(class="far fa-plus-square")
      ul
        each wishlist in wishlistsByUser
          li.user-wishlists
            a(href=`/wishlists/${wishlist.id}` class="anchor") #{wishlist.name}
    div.middle-section
      div.wishlist-info
        h1 #{wishlist.name}
        h3 By #{wishlist.User.username}
        if (wishlist.description)
          p #{wishlist.description}
        if (authorized)
          div.wishlist-button
            a(href=`/wishlists/${wishlist.id}/edit`) Edit Wishlist
            a(href=`/wishlists/${wishlist.id}/items/new`) Add an item
        div
          if (items)
            each item in items
              div.item-name
                div
                  if (authorized)
                    input(type="checkbox", name="purchased" value="true")
                  span
                    a(href=`/wishlists/${wishlist.id}/items/${item.id}` class="anchor") #{item.name}
                div.item-button
                  span $#{item.price}
                  if (authorized)
                    a(href=`/wishlists/${wishlist.id}/items/${item.id}/edit`)
                      i(class="far fa-edit")
                    a(href=`/wishlists/${wishlist.id}/items/${item.id}/delete`)
                      i(class="far fa-trash-alt")
        //- p.total-cost Total cost: $#{totalPrice}
        //- h3 Comments
        form(action=`/wishlists/${wishlist.id}/comments/new`, method="post" class="post-comment")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="text", name="content" class="comment-box" placeholder="Add a comment..." value=content)
          button(type="submit" class="comment-button") Add Comment
      div.comments-container
        if comments
          ul
            each comment in comments
              li.comment-border
                div.comment-header
                  span #{comment.User.username}
                  if userId == `${comment.userId}`
                    span
                      a(href=`/comments/${comment.id}/edit`)
                        i(class="far fa-edit")
                      a(href=`/comments/${comment.id}/delete`)
                        i(class="far fa-trash-alt")
                p #{comment.content}
                p.comment-date #{comment.updatedAt.getMonth() + 1}/#{comment.updatedAt.getDate()}/#{comment.updatedAt.getFullYear()} #{comment.updatedAt.getHours()}:#{comment.updatedAt.getMinutes()}
    if(totalPrice)
      div.wishlist-summary
        p.total-cost Total cost: $#{totalPrice}
        p.total-items Total items: #{items.length}

    block wishlistContent
